
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
}

.header h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24pt;
}

.header-icon{
	padding: 7px;
}